page-hora{

}

.grid-basic-page {

	ion-col {
		text-align: center;
	}

	#matutino {
		text-align: center;
		background-color: #f7f7f7;
	}

	#vespertino {
		text-align: center;
		background-color: #000000;
	}

	#vesptext {
		color: #f0f5ff;
	}

	ion-col div {
		background-color: #f0f5ff;
		border: 1px solid #f0f5ff;
		border-radius: 2px;
		padding: 5px;
		text-align: center;
		margin: 8px;
	}

	p {
		padding: 10px 0 0 10px !important; 
		margin: 0;
	}
	
	.aviso {
		padding: 16px;
		margin: 16px;
		text-align: center;
		color: red;
		font-size: large;
		
	}
	
	h2 {
		padding: 10px 0 0 10px !important;
		margin: 8px;
		font-size: medium;
	}
	
	.presenca_icon {
		padding: 10px 0 0 10px !important;
		margin: 0px;
		font-size: xx-large;
	}
	
	ion-list {
		display: inline-flex;
	}	

}